
    <%- include ('head') %>
<body>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>title</th>
            </tr>
        </thead>
        <tbody>
    <% for(var i = 0; i < data.length; i++) { %>      
        <tr>
            <td><a href = "/post/view?idx=<%=data[i].idx%>"><%=data[i].title%></a></td>       
        </tr>    
    <% } %>
            <tr>
            <td> 
                <nav aria-label="...">
                <ul class="pagination">
                
             <%if(paging.prev_page >0){%>
                  <li class='page-item' ><a class='page-link' href='/post/list?page=<%=paging.prev_page%><%=param%>'>Previous</a></li>
            <%}
               
            for(var num = paging.startPage; num <= paging.endPage ;num++){
                  
                if(num==paging.current_page){
            %>
                    <li class='page-item active' aria-current='page'><a class='page-link' href='#'><%=num%></a></li>
            <%   }else {%> 
                    <li class='page-item' ><a class='page-link' href='/post/list?page=<%=num%><%=param%>'><%=num%></a></li>
                
           <%   }  
            } 
           %>
           
           <% if(paging.now_block < paging.total_block ){ %>
                <li class='page-item' ><a class='page-link' href='/post/list?page=<%=paging.next_page%><%=param%>'>Next</a></li>
           <% }%>
                                                       
                    </ul>
                </nav>
            </td>
            </tr>
    </tbody>
    <tfoot>
    <tr><td><input type="submit" class="btn btn-outline-primary" onclick="location.href='/post/write'" value="글쓰기"></td></tr>
    </tfoot>
    
</body>

</html>